In [1]:
import numpy as np
import pandas as pd
import os

In [2]:
trainDS= pd.read_csv(r'F:\Dev\Thesis\dist5\testSet_rand.csv',dtype=str)

In [3]:
trainDS

       clase     path        img
0       6065  1303956  032-l.jpg
1       7967  2172930  008-l.jpg
2       9770  3473527  019-r.jpg
3       2695  0342970  005-l.jpg
4       4875  0888882  070-l.jpg
...      ...      ...        ...
148033  9655  3333557  016-r.jpg
148034  8188  2294895  027-l.jpg
148035   872  0004770  051-l.jpg
148036  1811  0134244  089-l.jpg
148037  4956  0910607  059-r.jpg

[148038 rows x 3 columns]

In [4]:
groupedByClass = trainDS.groupby(['clase'])


cont=0
for a in groupedByClass:
        (key,vTrain) = a
        pathCandidate= 'F:\Dev\Thesis\dist5\TestStructure\\'+str(key);
        if os.path.exists(pathCandidate) == False:
            os.mkdir(pathCandidate)

In [5]:
for index,r in trainDS.iterrows():    
    
    filePathCandidate = 'F:\Dev\Thesis\dist5\TestStructure\\'+str(r['clase'])+'\\'+str(r['img'])
    if os.path.isfile(filePathCandidate)==False:      
        command = 'copy E:\Dev\Thesis\casia\webface\\100\\'+str(r['path']) +'\\'+str(r['img']) +' '+filePathCandidate
        #print(command)
        os.popen(command)